<div class="container">
    <h1>{{cliente?.nombre}} {{cliente?.apellidos}}</h1>
    <hr />
    <h2>Ahorros</h2>
    <a [routerLink]="['/','clientes', clienteId ,'ahorros','agregar']">Agregar</a>
    <table class="table table-hover">
        <tbody>
            <tr *ngFor="let item of ahorros">
                <td>{{item.nombre}}</td>
                <td>{{item.total | currency}}</td>
                <td>
                    <a [routerLink]="['/','ahorros', item.id]">
                        Detalles
                    </a>
                </td>
                <td>
                    <a [routerLink]="['/','ahorros', item.id, 'retiro']">
                        Retiro
                    </a>
                </td>
                <td>
                    <a [routerLink]="['/','ahorros', item.id, 'deposito']">
                        Deposito
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>