<div class="row">
    <div class="col-6">

        <form [formGroup]="formGroup" (ngSubmit)="guardar()">
            
            <div>
                <label>Nombre</label>
                <input formControlName="nombre" class="form-control" type="text" #nombre
                    [ngClass]="{ 'is-invalid': submitted && f['nombre'].errors}"/>
                <div *ngIf="submitted && f['nombre'].errors?.['required']" class="invalid-feedback">
                    <div *ngIf="f['nombre'].errors?.['required']">Ingresa un nombre</div>
                </div>
            </div>

            <div>
                <label>Nombre del cliente</label>
                <input formControlName="clienteNombreCompleto" class="form-control" [value]="ahorro?.clienteNombre" />                
            </div>

            <div>
                <label>Interes</label>
                <input formControlName="interes" class="form-control" type="text" 
                    [ngClass]="{ 'is-invalid': submitted && f['interes'].errors}"/>
                <div *ngIf="submitted && f['interes'].errors?.['required']" class="invalid-feedback">
                    <div *ngIf="f['interes'].errors?.['required']">Ingresa un interes</div>
                </div>
            </div>

            <div>
                <label>Nota</label>
                <input formControlName="nota" class="form-control" type="text" 
                    [ngClass]="{ 'is-invalid': submitted && f['nota'].errors}"/>                
            </div>

            <button [routerLink]="['/','clientes', ahorro?.clienteId, 'ahorros']" class="btn btn-outline-secondary mt-3 me-3" type="button"
                [disabled]="estaCargando">
                Cancelar
            </button>

            <button type="submit" class="btn btn-outline-primary mt-3" [disabled]="estaCargando">
                <div *ngIf="estaCargando">
                    <div class="spinner-border spinner-border-sm text-light" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    Un momento...
                </div>
                <div *ngIf="!estaCargando">
                    <i class="bi bi-save"></i>
                    Guardar
                </div>
            </button>
        </form>

    </div>
</div>
